*{
    direction: rtl;
    font-family: 'Open Sans Hebrew';
}
.label{
    color: #404040;
    font-size: 12px;
    display: block;
}
.input{
    color: black;
    font-size: 14px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 7px;
    width: 200px;
}
.loadDiv{
    z-index: 0;
    position: absolute;
    margin-top: 150px;
    margin-left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.src{
    margin-top: 10px;
}
.dst{
    margin-top: 10px;
}
.btn{
    background-color: #E91557;
    color: white;
    cursor: pointer;
    width: 215px;
    border: none;
    margin-top: 10px;
}
.kavkav{
    margin-top: 10px;
    margin-right: 28%;
    color: #D9D9D9;
}