*{
  direction: rtl;
  font-family: auto;
}
.result{
    background-color: rgba(53, 53, 53, 0.94);
    z-index: 1;
    height:90%;
    width: 100%;
    position: absolute;
    top: 5%;
    display: block;
    flex-wrap: wrap;
  }
  .btn2{
    background-color: #FFC000;
    color: white;
    border: none;
    float: left;
    width: 100px;
    margin: 10px;
    height: 23px;
  }
  .divRes{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
    margin-top: 80px;
    margin-right: 40%;
  }
  .right .innerDiv{
  border-left: 1px solid white;
     margin-bottom: 0px;
     width: 120%;
  }
  .left{
    margin: auto;
  }
  .l_title{
     color: white;
    font-size: 100% ;
  }
  .innerDiv label:nth-child(2){
    color: #FFC000;
    font-size: 200%;
    display: block; 
    margin-top: 20px;
    margin-right:0px;
  }
  .innerDiv1{
    margin-top: 20px;
    font-size: 80%;
  }
  .innerDiv1 label{
    color: #FFC000;
  }
  .l_dest{
    margin-right: 5px;
  }
  span{
    color: white;
    margin-right: 5px;
  }
  .popular{
    margin-top: 35px;
  }
  .divResList{
    height: 300px;
    overflow: auto;
  }
  .divResList::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  .divResList::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }